/* for the main button of the ComboBox  */
.combo-box .cell{
    -fx-text-fill: #A9A9A9;
    -fx-font: 18px "Arial Black";
	-fx-alignment:center;
}
.customcell {
    -fx-text-fill: #A9A9A9;
    -fx-font: 18px "Arial Black";
    /* No alternate highlighting */
    -fx-background-color: #FFF;
	-fx-alignment:center;
}